services:
  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "0.0.0.0:8181:8080"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - ./secrets/jenkins_agent_key:/var/jenkins_home/.ssh/id_rsa:ro
    environment:
      TZ: "Asia/Tokyo"

  ssh-agent:
    build:
      context: ssh-agent
    container_name: ssh-agent
    volumes:
      - ./agent_work:/work
    devices:
      - "/dev/ttyACM0:/dev/ttyUSB0"
    #image: jenkins/ssh-agent
    environment:
      JENKINS_AGENT_SSH_PUBKEY: ${JENKINS_AGENT_SSH_PUBKEY}
      TZ: "Asia/Tokyo"

# ------
#   https://qiita.com/as-hasegawa/items/790cc503a3296ded8b73
#   https://zenn.dev/rihito/articles/f819ca1afabd9a
# ------

### ----- create a secret key (memo)
# ssh-keygen -t ed25519 -b 4096 -C "" -f secrets/jenkins_agent_key -N ""
# chmod 600 secrets/jenkins_agent_key
# chmod 644 secrets/jenkins_agent_key.pub
### -----
#    JENKINS_AGENT_SSH_PUBKEY -> jenkins_agent_key.pub
#    .env
### -----
